.contact {
	height: 100%;
	width: 100%;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	overflow: auto;
	pointer-events: auto;

	&-title {
		width: 90%;
		font-size: 2rem;
		color: #00d1ff;
		text-shadow: 1px 1px 2px #00d1ff;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		text-align: center;
		padding: 0.5rem;

		background-color: rgba(255, 255, 255, 0.2);
		border: 0.1rem solid #00d1ff;
		border-radius: 0.7rem;
		box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

		pointer-events: auto;

		-webkit-animation: scale-in-ver-center 2s
			cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
	&_container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		&_left {
			width: 100%;
			padding: 0.5rem 0.5rem 1rem;
			margin: 0 auto 1rem;
			background-color: rgba(255, 255, 255, 0.2);
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
			pointer-events: auto;
			-webkit-animation: scale-in-ver-center 3s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			&_item {
				width: 100%;

				&-title {
					font-size: 1.2rem;
					color: #00d1ff;
					text-shadow: 1px 1px 2px #00d1ff;
					margin-bottom: 0.25rem;
				}
			}
		}
		&_right {
			width: 100%;
			padding: 0.5rem 0.5rem 1rem;
			margin: 0 auto 1rem;
			background-color: rgba(255, 255, 255, 0.2);
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
			pointer-events: auto;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			-webkit-animation: scale-in-ver-center 3s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			&-title {
				font-size: 1.2rem;
				color: #00d1ff;
				text-shadow: 1px 1px 2px #00d1ff;
				margin-bottom: 0.25rem;
				text-align: center;
			}
			&-text {
				font-size: 1rem;
				color: white;
				text-shadow: 1px 1px 2px #00d1ff;
				margin-bottom: 0.25rem;
				text-align: center;
			}

			&_form {
				width: 100%;
				margin-top: 1rem;
				pointer-events: auto;

				&-input {
					width: 100%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
					border: 0.1rem solid #00d1ff;
					border-radius: 0.7rem;
					box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
					background-color: rgba(255, 255, 255, 0.2);
					color: #00d1ff;
					text-shadow: 1px 1px 2px #00d1ff;
				}
				&-button {
					width: 100%;
					font-size: 1rem;
					color: #fff;
					background-color: #00d0ffb0;
					text-shadow: 1px 1px 2px #00d1ff;
					border: 0.1rem solid #00d1ff;
					border-radius: 0.7rem;
					box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
				}
			}
		}
	}
}

// Responsive Tablet
@media screen and (min-width: 768px) {
	.contact {
		&_container {
			// flex-direction: row;
			align-items: center;
			&_left {
				width: 50%;
				height: fit-content;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: scroll;
			}
			&_right {
				width: 90%;

				&_form {
					width: 50%;
				}
			}
		}
	}
}

// Responsive Window
@media screen and (min-width: 1024px) {
	.contact {
		&_container {
			margin-top: 2rem;
			flex-direction: row;
			align-items: center;
			&_left {
				width: 30%;
				height: fit-content;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: scroll;
			}
			&_right {
				width: 70%;

				&_form {
					width: 50%;
				}
			}
		}
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-20 19:17:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
