.aboutMe {
	height: 100%;
	width: 100%;
	// padding: 0.5rem;

	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	align-items: center;
	gap: 1rem;

	overflow: auto;
	pointer-events: auto;
	&-title {
		width: 95%;
		font-size: 2rem;
		color: #00d1ff;
		text-shadow: 1px 1px 2px #00d1ff;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		text-align: center;
		padding: 0.5rem;

		background-color: rgba(255, 255, 255, 0.2);
		border: 0.1rem solid #00d1ff;
		border-radius: 0.7rem;
		box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

		-webkit-animation: scale-in-ver-center 1s
			cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
	&_skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		&-img {
			height: 200px;
			width: 200px;
			margin-bottom: 0.5rem;
			border: 0.1rem solid #00d1ff;
			border-radius: 50%;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

			-webkit-animation: scale-in-ver-center 1s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			animation: scale-in-ver-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
				both;
		}
		&-title {
			font-size: 1.5rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			margin-bottom: 0.25rem;
		}
		&_article {
			width: 95%;
			padding: 0.5rem 0.5rem 1rem;
			margin: 0.5rem 0;
			color: #e5e5e5;
			background-color: rgba(255, 255, 255, 0.2);
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

			-webkit-animation: scale-in-ver-center 1s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			&-title {
				font-size: 1.2rem;
				color: #00d1ff;
				text-shadow: 1px 1px 2px #00d1ff;
				margin-bottom: 0.25rem;

				border-bottom: #00d1ff 0.1rem solid;
			}
			&_list {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				&-item {
					background-color: #00d0ff79;
					font-size: 1rem;
					text-shadow: 1px 1px 2px #00d1ff;

					margin: 0.2rem;
					padding: 0.2rem;
					border: 0.1rem solid #00d1ff;
					border-radius: 0.2rem;
					box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
				}
			}
		}
	}
	&_bio {
		width: 95%;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		&-title {
			font-size: 1.5rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			margin-bottom: 0.25rem;

			-webkit-animation: scale-in-ver-center 1s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}
		&-text {
			font-size: 1.2rem;
			color: #e5e5e5;
			text-shadow: 1px 1px 2px #00d1ff;
			word-break: break-word;
			margin: 0.5rem 0;
			padding: 0.5rem;
			background-color: rgba(255, 255, 255, 0.2);
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

			-webkit-animation: scale-in-ver-center 1s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			&-name {
				color: green;
				text-shadow: 1px 1px 2px green;
				margin-bottom: 0.25rem;
			}
		}
	}
}

// Responsive Tablet
@media screen and (min-width: 768px) {
	.aboutMe {
		&_title {
			font-size: 2rem;
		}
		&_skills {
			&-img {
				height: 250px;
				width: 250px;
			}
			&-title {
				font-size: 2rem;
			}
			&_article {
				&-title {
					font-size: 1.5rem;
				}
				&_list {
					&-item {
						font-size: 1.2rem;
					}
				}
			}
		}
		&_bio {
			&-title {
				font-size: 2rem;
			}
			&-text {
				font-size: 1.5rem;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.aboutMe {
		flex-direction: row;
		justify-content: space-around;
		align-items: start;
		flex-wrap: wrap;
		&_title {
			font-size: 2.5rem;
		}
		&_skills {
			width: 30%;
			&-img {
				height: 300px;
				width: 300px;
			}
			&-title {
				font-size: 2.5rem;
			}
			&_article {
				&-title {
					font-size: 2rem;
				}
				&_list {
					&-item {
						font-size: 1.5rem;
					}
				}
			}
		}
		&_bio {
			width: 60%;
			&-title {
				font-size: 2.5rem;
			}
			&-text {
				font-size: 2rem;
			}
		}
	}
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-20 19:17:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
