.addProject {
	width: 90%;
	height: 63%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0.5rem;
	padding-bottom: 1.5rem;
	border: 0.1rem solid #00d1ff;
	border-radius: 0.7rem;
	box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

	display: flex;
	flex-direction: column;

	overflow: auto;
	pointer-events: auto;

	-webkit-animation: scale-in-ver-center 0.5s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&-closeModal {
		width: 15px;
		position: fixed;
		top: 0.5rem;
		right: 0.5rem;
		&:hover {
			cursor: pointer;
		}
	}
	&-title {
		font-size: 2rem;
		color: #00d1ff;
		text-shadow: 1px 1px 2px #00d1ff;
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	&_form {
		display: flex;
		flex-direction: column;
		margin: 0 1rem;
		&-label {
			font-size: 1.2rem;
			color: #e5e5e5;
			text-shadow: 1px 1px 2px #00d1ff;
			margin-bottom: 0.5rem;
			text-align: start;
		}
		&-input {
			height: 40px;
			font-size: 1rem;
			color: #e5e5e5;
			background-color: rgba(255, 255, 255, 0.2);
			text-shadow: 1px 1px 2px #00d1ff;
			margin-bottom: 2rem;
			padding-left: 0.5rem;
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
		}
		&-btn {
			height: 40px;
			font-size: 1rem;
			color: #e5e5e5;
			background-color: #00d0ffb0;
			text-shadow: 1px 1px 2px #00d1ff;
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
		}
	}
	&_unauthorized {
		width: 90%;
		height: 63%;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 0.5rem 1rem;
		padding-bottom: 1.5rem;
		border: 0.1rem solid #ff6700;
		border-radius: 0.7rem;
		box-shadow: 0 0 10px 1px #ff6700, inset 0 0 10px 1px #ff6700;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;

		pointer-events: auto;
		overflow: auto;

		-webkit-animation: scale-in-ver-center 1s
			cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: scale-in-ver-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

		&-warning {
			margin-top: 5rem;
			width: 75px;
			align-self: center;
			-webkit-animation: flicker-2 1s linear infinite both;
			animation: flicker-2 1s linear infinite both;
		}
		&_title {
			font-size: 1.2rem;
			color: #ff6700;
			text-shadow: 1px 1px 2px #ff6700;
			margin-bottom: 0.5rem;
		}
		&_content {
			color: #fff;
			text-shadow: 1px 1px 2px #ff6700;
		}
		&_btn {
			height: 40px;
			font-size: 1rem;
			color: #fff;
			background-color: #ff6700b0;
			text-shadow: 1px 1px 2px #ff6700;
			border: 0.1rem solid #ff6700;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #ff6700, inset 0 0 10px 1px #ff6700;
		}
	}
}

// Responsive Tablet
@media screen and (min-width: 768px) {
	.addProject {
		width: 26%;
		height: inherit;
		margin: 0 0.5rem;
		position: fixed;
		left: 36%;
		-webkit-animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1)
			both;
		animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

		&_unauthorized {
			width: 26%;
			height: inherit;
			margin: 0 0.5rem;
			position: fixed;
			left: 36%;
			-webkit-animation: scale-up-hor-left 1s
				cubic-bezier(0.39, 0.575, 0.565, 1) both;
			animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

			&-warning {
				margin-top: 1rem;
			}
		}
	}
}

// Responsive Window
@media screen and (min-width: 1024px) {
	.addProject {
		width: 27%;
		left: 34.5%;

		&_unauthorized {
			width: 27%;
			left: 34.5%;
			justify-content: space-evenly;
		}
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-20 19:17:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-2 16:3:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
}
@keyframes scale-up-hor-left {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-14 1:5:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-2
 * ----------------------------------------
 */
@-webkit-keyframes flicker-2 {
	0%,
	100% {
		opacity: 1;
	}
	41.99% {
		opacity: 1;
	}
	42% {
		opacity: 0;
	}
	43% {
		opacity: 0;
	}
	43.01% {
		opacity: 1;
	}
	45.99% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.9% {
		opacity: 0;
	}
	46.91% {
		opacity: 1;
	}
	51.99% {
		opacity: 1;
	}
	52% {
		opacity: 0;
	}
	52.8% {
		opacity: 0;
	}
	52.81% {
		opacity: 1;
	}
}
@keyframes flicker-2 {
	0%,
	100% {
		opacity: 1;
	}
	41.99% {
		opacity: 1;
	}
	42% {
		opacity: 0;
	}
	43% {
		opacity: 0;
	}
	43.01% {
		opacity: 1;
	}
	45.99% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.9% {
		opacity: 0;
	}
	46.91% {
		opacity: 1;
	}
	51.99% {
		opacity: 1;
	}
	52% {
		opacity: 0;
	}
	52.8% {
		opacity: 0;
	}
	52.81% {
		opacity: 1;
	}
}
