.news-update-container {
	position: fixed;
	top: 16%;
	left: 0;
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	pointer-events: auto;
}
.btn-on {
	color: #00d1ff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 0.1rem solid #00d1ff;
	border-radius: 0.7rem;
	box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

	&:hover {
		cursor: pointer;
	}
}
.btn-off {
	color: #00d1ff;
	background-color: transparent;
	border: 0.1rem solid #00d1ff;
	border-radius: 0.7rem;
	box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;
	&:hover {
		cursor: pointer;
	}
}

.news {
	width: 85%;
	height: 65vh;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 1.5rem 0.5rem 1rem 0.5rem;
	border: 0.1rem solid #00d1ff;
	border-radius: 0.7rem;
	box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: auto;
	pointer-events: auto;

	-webkit-animation: scale-in-ver-center 1.5s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: scale-in-ver-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&_article {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		border-bottom: 0.2rem solid #00d1ff;
		margin-bottom: 1rem;

		&-title {
			font-size: 2rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			background-color: rgba(255, 255, 255, 0.1);
			margin: 0.5rem 0;
			padding: 0.5rem;
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff;
		}
		&-date {
			font-size: 1.3rem;
			color: red;
			text-shadow: 1px 1px 2px red;
			background-color: rgba(255, 255, 255, 0.1);
			margin: 0.3rem 0;
			padding: 0.3rem;
			border: 0.1rem solid red;
			border-radius: 0.7rem;
			box-shadow: 0 0 5px 1px red;
		}
		&-content {
			font-size: 1.3rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			margin: 1rem 0;
			padding: 1rem 0;
			border-top: 0.1rem solid #00d1ff;
		}
		&-close {
			width: 50%;
			color: green;
			text-shadow: 1px 1px 2px green;
			background-color: rgba(255, 255, 255, 0.1);
			border: 0.1rem solid green;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px green, inset 0 0 10px 1px green;
			padding: 0.5rem;
			margin-bottom: 1rem;
			&:hover {
				background-color: rgba(255, 255, 255, 0.15);
				cursor: pointer;
			}
		}
	}
}
.update {
	width: 85%;
	height: 65vh;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 1.5rem 0.5rem 1rem 0.5rem;
	border: 0.1rem solid #00d1ff;
	border-radius: 0.7rem;
	box-shadow: 0 0 10px 1px #00d1ff, inset 0 0 10px 1px #00d1ff;

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: auto;
	pointer-events: auto;

	-webkit-animation: scale-in-ver-center 1.5s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: scale-in-ver-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&_article {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		border-bottom: 0.2rem solid #00d1ff;
		margin-bottom: 1rem;

		&-title {
			font-size: 2rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			background-color: rgba(255, 255, 255, 0.1);
			margin: 0.5rem 0;
			padding: 0.5rem;
			border: 0.1rem solid #00d1ff;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px #00d1ff;
		}
		&-date {
			font-size: 1.3rem;
			color: red;
			text-shadow: 1px 1px 2px red;
			background-color: rgba(255, 255, 255, 0.1);
			margin: 0.3rem 0;
			padding: 0.3rem;
			border: 0.1rem solid red;
			border-radius: 0.7rem;
			box-shadow: 0 0 5px 1px red;
		}
		&-content {
			font-size: 1.3rem;
			color: #00d1ff;
			text-shadow: 1px 1px 2px #00d1ff;
			margin: 1rem 0;
			padding: 1rem 0;
			border-top: 0.1rem solid #00d1ff;
		}
		&-close {
			width: 50%;
			color: green;
			text-shadow: 1px 1px 2px green;
			background-color: rgba(255, 255, 255, 0.1);
			border: 0.1rem solid green;
			border-radius: 0.7rem;
			box-shadow: 0 0 10px 1px green, inset 0 0 10px 1px green;
			padding: 0.5rem;
			margin-bottom: 1rem;
			&:hover {
				background-color: rgba(255, 255, 255, 0.15);
				cursor: pointer;
			}
		}
	}
}

// Responsive Tablet
@media screen and (min-width: 768px) {
}

// Responsive Desktop
@media screen and (min-width: 1024px) {
	.news-update-container {
		flex-direction: column;
		align-items: center;
	}
	.news {
		width: 50%;
	}
	.update {
		width: 50%;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-20 19:17:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}
